<div class="col-md-6">
    <h3>Update Booking:</h3>

    <form class="form" id="edit-booking-form">
        <hr class="my-4" />
        <h2>Customer Details</h2>
        <div class="form-group">
            <label for="owner_name">Owner Name:</label>
            <input class="form-input form-control" type="text" id="owner_name" name="owner_name"
                value="{{pet.owner_name}}" />
        </div>
        <hr class="my-4" />
        <h2>Pet Details</h2>
        <div class="form-group">
            <label for="pet_name">Pet Name:</label>
            <input class="form-input form-control" type="text" id="pet_name" name="pet_name" value="{{pet.pet_name}}" />
        </div>
        <div class="form-group">
            <label for="pet_type">Type:</label>
            <input class="form-input form-control" type="text" id="pet_type" name="pet_type" value="{{pet.pet_type}}" />
        </div>
        <div class="form-group">
            <label for="pet_breed">Breed:</label>
            <input class="form-input form-control" type="text" id="pet_breed" name="pet_breed"
                value="{{pet.pet_breed}}" />
        </div>
        <div class="form-group">
            <label for="pet_notes">Notes:</label>
            <textarea class="form-input form-control" id="pet_notes" name="pet_notes"
                rows="3">{{pet.pet_notes}}</textarea>
        </div>
        <hr class=" my-4" />
        <h2>Drop off and Pick up</h2>
        <div class="form-group">
            <label for="date_dropoff">Drop off:</label>
            <input class="form-input form-control" type="date" id="date_dropoff" name="date_dropoff"
                value="{{date_dropoff}}" />
        </div>
        <div class="form-group">
            <label for="date_dropoff">Pick up:</label>
            <input class="form-input form-control" type="date" id="date_pickup" name="date_pickup"
                value="{{date_pickup}}" />
        </div>
        <hr class="my-4" />
        <h2>Assign Staff</h2>
        <div class="form-group">
            <label for="staff">Staff:</label>
            <input class="form-input form-control" type="staff" id="staff" name="staff" value="{{staff.name}}" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mt-2" id="updateBtn">UPDATE</button>
        </div>
    </form>
</div>
{{!--
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> --}}
<script src="/js/edit-booking.js"></script>