<div class="row col-md-6">
    <h3>Update Booking:</h3>
    <form class="form" id="edit-booking-form">
        <hr class="my-4" />
        <h4><i class="fas fa-user"></i> Customer Details</h4>
        <div>
            <input class="d-none" id="pet_id" value="{{pet.id}}">
        </div>
        <div class="form-group">
            <label for="owner_name">Owner Name:</label>
            <input class="form-input form-control" type="text" id="owner_name" name="owner_name"
                value="{{pet.owner_name}}" />
        </div>
        <hr class="my-4" />
        <h4><i class="fas fa-dog"></i> Pet Details <i class="fas fa-cat"></i></h4>
        <div class="form-group">
            <label for="pet_name">Pet Name:</label>
            <input class="form-input form-control" type="text" id="pet_name" name="pet_name" value="{{pet.pet_name}}" />
        </div>
        <div class="form-group">
            <label for="pet_type">Type:</label>
            <input class="form-input form-control" type="text" id="pet_type" name="pet_type" value="{{pet.pet_type}}" />
        </div>
        <div class="form-group">
            <label for="pet_breed">Breed:</label>
            <input class="form-input form-control" type="text" id="pet_breed" name="pet_breed"
                value="{{pet.pet_breed}}" />
        </div>
        <div class="form-group">
            <label for="pet_notes">Notes:</label>
            <textarea class="form-input form-control" id="pet_notes" name="pet_notes"
                rows="3">{{pet.pet_notes}}</textarea>
        </div>
        <hr class=" my-4" />
        <h4> <i class="fas fa-calendar-check"></i> Drop off and Pick up</h4>
        <div class="form-group">
            <label for="date_dropoff">Drop off:</label>
            <input class="form-input form-control" type="date" id="date_dropoff" name="date_dropoff"
                value="{{reverse_date date_dropoff}}" />
        </div>
        <div class="form-group">
            <label for="date_dropoff">Pick up:</label>
            <input class="form-input form-control" type="date" id="date_pickup" name="date_pickup"
                value="{{reverse_date date_pickup}}" />
        </div>
        <hr class="my-4" />
        <h4><i class="fas fa-dollar-sign"></i> Price</h4>
        <div class="form-group">
            <label for="fee">Fee:</label>
            <input class="form-input form-control" type="number" id="fee" name="fee" value="{{fee}}" min="0" />
        </div>
        <hr class="my-4" />
        <h4> <i class="fas fa-user-check"></i> Assign Staff</h4>

        <div class="form-group">
            <label for="staff">Staff:</label>
            <select class="form-input form-control" data-width="100%" id="staff" name="staff">
                <option value="{{staff_id}}" selected="selected">{{staff.name}}</option>
            </select>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-dark mt-4" id="updateBtn">UPDATE</button>
        </div>
    </form>
</div>

<script src=" https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="/js/edit-booking.js"></script>