<div class="col-lg-10 col-md-10" style="">
    <p>Total Bookings: {{bookings.length}}</p>
</div>
{{#each bookings as |booking|}}
<div class="card border-dark mx-3 mb-3 col-lg-5 col-md-10" style="">
    <div class="card-header">
        <h4 class=""><i class="fas fa-paw"></i> Booking ID: {{booking.id}}</h4>
    </div>
    <div class="card-body text-dark">
        <h5 class="card-title"><strong>
            Pet ID: {{pet.id}} | Name: {{pet.pet_name}} |</strong>
        </h5>
        <h5 class="card-title"><strong>
            Type: {{pet.pet_type}} | Breed:{{pet.pet_breed}} |</strong>
        </h5>
        <p class="card-text">Owner: {{pet.owner_name}}</p>
        <p class="card-text">Drop off: {{format_date booking.date_dropoff}} | Pick up: {{format_date
            booking.date_pickup}}</p>
        <p class="card-text">Staff assigned: ID: {{staff.id}} | NAME: {{staff.name}}</p>
        <p class="card-text">Fee: {{booking.fee}}</p>
        <p class="card-text">Note:
            {{pet.pet_notes}}</p>
        <hr>
        <div class="card-text">
            Created at: {{format_date date_created}}
        </div>

        <div class="card-text text-center">
            <a href="/booking/edit/{{booking.id}}"><button class="btn btn-dark m-2" id="bookingBtn"
                    type="submit">EDIT</button></a>
            <button class="btn btn-danger m-2 deleteBtn" data-id="{{booking.id}}">DELETE</button>
        </div>
</div>
{{/each}}

<script src="/js/homepage.js"></script>