<div>
    <h2>
        <i class="fas fa-person"></i> {{staff.name}}'s Personal Page <i class="fas fa-person"></i>
    </h2>
    <p></p>
</div>
<div>
    <h5> <i class="fas fa-address-card"></i> Staff ID: {{staff.id}} </h5>
    <h5><i class="fas fa-envelope"></i> Staff Email: {{staff.email}}</h5>
</div>
<hr>
{{#each bookings as |booking|}}
<div class="card border-dark mb-3" style="">
    <div class="card-header">
        <h4 class=""><i class="fas fa-paw"></i> Booking ID: {{booking.id}}</h4>
    </div>
    <di class="card-body text-dark">
        <h5 class="card-title">
            Pet ID: {{pet.id}} | Name: {{pet.pet_name}} | Type: {{pet.pet_type}} | Breed:
            {{pet.pet_breed}} |</h5>
        <p class="card-text">Owner: {{pet.owner_name}}</p>
        <p class="card-text">Drop off: {{format_date booking.date_dropoff}} | Pick up: {{format_date
            booking.date_pickup}}</p>
        <p class="card-text">Staff assigned: ID: {{staff.id}} | NAME: {{staff.name}}</p>
        <p class="card-text">Fee: {{booking.fee}}</p>
        <p class="card-text">Note:
            {{pet.pet_notes}}</p>
        <hr>
        <div class="card-text">
            Created at: {{format_date date_created}}
        </div>

        <div class="card-text">
            <a href="/booking/edit/{{booking.id}}"><button class="btn btn-dark mt-2" id="bookingBtn"
                    type="submit">EDIT</button></a>
            <button class="btn btn-danger mt-2 deleteBtn" data-id="{{booking.id}}">DELETE</button>
        </div>
</div>
{{/each}}

<script src="/js/homepage.js"></script>